{{ define "main" }}
  <div class="container" role="main">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        {{ with .Content }}
          <div class="card card-body">
            {{.}}
          </div>
        {{ end }}
        <div class="posts-list">
          {{ range .Paginator.Pages }}
            {{ partial "post_preview.html" .}}
          {{ end }}
        </div>
        {{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
          <ul class="pagination main-pagination">
            {{ if .Paginator.HasPrev }}
              <li class="previous page-item">
                <a href="{{ .Permalink }}page/{{ .Paginator.Prev.PageNumber }}/" class="page-link">&larr; {{ i18n "newerPosts" }}</a>
              </li>
            {{ end }}
            {{ if .Paginator.HasNext }}
              <li class="next page-item">
                <a href="{{ .Permalink }}page/{{ .Paginator.Next.PageNumber }}/" class="page-link">{{ i18n "olderPosts" }} &rarr;</a>
              </li>
            {{ end }}
          </ul>
        {{ end }}
      </div>
    </div>
  </div>
{{ end }}
