{{ define "main" }}

{{ $data := .Data }}
<div class="row justify-content-center">
  <div class="col-lg-8">
    <article class="post-preview">
      <div class="card-group" id="accordion">
        {{ range $key, $value := .Data.Terms.ByCount }}
          <div class="card card-default">
            <a class="collapsed" role="button" data-toggle="collapse" data-target="#collapse{{ $value.Name }}" data-parent="#accordion">
                <div class="card-heading" id="header{{ $value.Name }}">
                  <h4 class="card-title">
                      {{ $value.Name }}
                    <span class="badge badge-pill">{{ $value.Count }}</span>
                  </h4>
                </div>
            </a>
            <div id="collapse{{ $value.Name }}" class="card-collapse collapse">
              <div class="card-body">
                <a href="{{ $.Site.LanguagePrefix | absURL }}/{{ $data.Plural }}/{{ $value.Name | urlize }}/" class="list-group-item view-all">
                View all</a>
                <div class="list-group">
                  {{ range $item := $value.WeightedPages }}
                    <a href="{{$item.Permalink}}" class="list-group-item">{{ $item.Title }}</a>
                  {{ end }}
                </div>
              </div>
            </div>
          </div>
        {{ end }}
      </div>
    </article>
  </div>
  </div>
{{ end }}
