<div class="row justify-content-center">
{{- partial "load-photoswipe-theme.html" . }}

  {{ if .Params.bigimg }}
    <div id="header-big-imgs" data-num-img={{len .Params.bigimg}}
      {{range $i, $img := .Params.bigimg}}
         {{ if (fileExists $img.src)}} 
          data-img-src-{{add $i 1}}="{{$img.src | absURL }}" 
         {{else}}
          data-img-src-{{add $i 1}}="{{$img.src}}" 
         {{end}}
         {{ if $img.desc}}data-img-desc-{{add $i 1}}="{{$img.desc}}"{{end}}
      {{end}}></div>
  {{ end }}

  <header class="header-section text-center">
      <div class="intro-header {{ if .Params.bigimg }}big-img{{ else }}no-img{{ end }}">
          <div class="row justify-content-center">
            <div class="col">
              <div class="{{ .Type }}-heading">
                <h1>{{ .Params.title }}</h1>
                  {{ if .Params.subtitle }}
                    {{ if eq .Type "page" }}
                      <hr class="small">
                      <span class="{{ .Type }}-subheading">{{ .Params.subtitle }}</span>
                    {{ else }}
                      <h2 class="{{ .Type }}-subheading">{{ .Params.subtitle }}</h2>
                    {{ end }}
                  {{ end }}
                  {{ if eq .Type "post" }}
                    {{ partial "post_meta.html" . }}
                  {{ end }}
              </div>
              {{ if .Params.bigimg }}<span class="img-desc"></span>{{ end }}
            </div>
          </div>

      </div>
  </header>
</div>
